@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap'); 
html{
    box-sizing: border-box;
    font-family: 300 16px "Spartan" , sans-serif;
}
*, *::before, *::after {
    box-sizing:inherit;
}
#main{
    display: flex;
    flex-flow: row;
    background: #000033;
   
}
#doodle1{
    margin-top: 40px;
    margin-bottom: 40px;
    float: right;
    margin-right: 2em;
}
span{
    display: block;
}
#Hero_texts{
    margin-left: 48px;
    flex: 5 0 0;
    color: #FFF;
}
#line{
    margin-top: 40px;
    margin-bottom: 40px;
}
#Hero_texts h2{
    font-family: "Spartan";
    font-weight: 700;
    font-size: 4.5em;
    margin-bottom: 0%;
}
#Hero_texts p{
    font-family: "Spartan";
    font-weight: 500;
    font-size: 16px;
}
#animation{
    margin-top: 40px;
}
#scrollanimation{
    margin-top: 4.6em;
    margin-left: 14.1em;
}
#serch_part{
    display: flex;
    flex-flow: column;
}
#serch_part h2{
    margin-left: 492px;
    justify-self: center;
    font-family: "Spartan";
    font-size: 40px;
    font-weight: 700;
}
.searchBox{
    margin-left: 225px;
    width: 66.25em;
    height: 3.5em;
    border: 0.5px solid gray;
    border-radius: 30px 30px 30px 30px;
}
.student-cards{
    row-gap: 150px;
    box-sizing:inherit;
    margin: 40px;
    display: flex;
    flex-flow:row wrap;
    justify-content: space-evenly;
}
.students{
    flex:0 0 33%;
}
.images{
    position: absolute;
    padding-left: 50px;
    padding-top: 100px;
    margin: 0px;
}
.Description{
    border: 3px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px 12px 12px 12px;
    text-align: center;
    height: 342px;
    width: 322px;
    margin: 0px;
    background: #000033;
    color: white;
}
.student_name{
    font-weight: 700;
    font-size: 24px;
    margin-top: 24px;
}
.Description a{
    display: block;
}
.contact-Button{
    margin-top: 1em;
    box-shadow: 5px 5px white;
    text-decoration-line: none;
    background: #CC9900;
    padding: 8px 53px;
    color: black;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid black;
}
.LinkedIn-Button{
    margin-top: 1em;
    box-shadow: 5px 5px white;
    text-decoration-line: none;
    background: #000033;
    padding: 8px 53px;
    color: white;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid black;
}
.Description2{
    border: 3px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px 12px 12px 12px;
    text-align: center;
    height: 342px;
    width: 322px;
    margin: 0px;
    background: #CC9900;
    color: black;
}
.contact-Button2{
    margin-top: 1em;
    box-shadow: 5px 5px white;
    text-decoration-line: none;
    background: #000033;
    padding: 8px 53px;
    color: white;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid black;
}
.LinkedIn-Button2{
    margin-top: 1em;
    box-shadow: 5px 5px white;
    text-decoration-line: none;
    background: #CC9900;
    padding: 8px 53px;
    color: black;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid black;
}